@use '../mixins/mixins' as *;
@use '../mixins/media_queries' as q;

.game-container {
    padding: 1em;

    @include q.laptop {
        @include flex(row, space-between);
        align-items: center;
        min-height: 60vh;
    }
}