@use '../mixins/mixins' as *;
@use '../mixins/media_queries' as q;

.hangman-word {
    @include flex(row, center);

    &__header {
        text-align: center;
        font-size: 2.5em;
        margin: 0;
        padding: 0.25em;
    }

    @include q.large-tablet {
        &__header {
            font-size: 3em;
        }
    }
}