@use '../mixins/mixins' as *;
@use '../mixins/media_queries' as q;

.keys {
    @include flex(row, center);
    flex-wrap: wrap;
    padding: 1em;
    gap: 0.5em;

    @include q.large-tablet {
        width: 80%;
    }
}