@use '../mixins/media_queries' as q;
@use '../variables/colors' as c;

.played-words {
    padding: 0.5em;
    
    &__text {
        color: c.$secondary;
        font-size: 1.25em;
        margin: 0;
    };

    @include q.large-tablet {
        padding-left: 2em;
        padding-right: 2em;
        &__text {
            font-size: 1.35em
        }
    }

    @include q.laptop {
        grid-column: span 2;
        &__text {
            font-size: 1.75em;
        }
    }

    @include q.large-desktop {
        &__text {
            font-size: 3em;
        }
    }
}